html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #3C09C5;
	color: #fff;
	font-family: 'Saira Condensed', sans-serif;
}

section:before {
	content: url(../img/triangleBig.png);
	z-index: 0;
	position: absolute;
	left: 1080px;
	top: 450px;
	width: 411px;
	height: 385px;
	transform: rotate(-30deg);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.logo {
	font-size: 42px;
	font-weight: 700;
}

nav {
	font-size: 18px;
}

nav li {
	display: inline-block;
}

nav li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px 40px;
}

nav li:last-child {
	border: 3px solid #00FFBC;
	border-radius: 10px;
	padding-right: 0;
}

.titre {
	height: calc(100% - 144px);
	display: flex;
    align-items: center;
	padding: 20px;
}

h1 {
	margin-bottom: 72px;
	font-size: 180px;
	font-weight: 900;
	z-index: 10;
}